@font-face {
    font-family: myFirstFont;
    src: url(./Fonts/GUERRILLA-Normal.ttf);
  }
  @font-face {
    font-family: font;
    src: url(./proxima_ssv/Proxima\ Nova\ Alt\ Light.otf);
  }
  @font-face {
    font-family: title-font;
    src: url(./proxima_ssv/Proxima\ Nova\ Alt\ Thin.otf);
  }
  @font-face {
    font-family: add-font;
    src: url(./proxima_ssv/Proxima\ Nova\ Alt\ Bold.otf);
  }
  * {
    box-sizing: border-box;
  }
  header h2 {
    font-family: myFirstFont;
    text-align: center;
    font-size: 40px;
  }

.line{
    margin-left: 4%;
    width: 930px;
    height: 3px;
    background-color: rgb(209, 206, 206);
    
    border-radius: 50px;
}
.title{
    text-align: center;
    font-family: font;
    text-transform: uppercase;
    font-size: 20px;
}
.menu h1{
    text-align: center;
    font-family: title-font;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 5%;
    padding: 15px;
}
.menu{
    float: left;
    display: grid;
    place-items: center;
    max-width: 75%;
    height: auto;
    overflow: hidden;
    margin-left: 11%;
}

.waffle{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
}
.list{
    width: 200px;
    text-align: center;
    margin-left: 35px;
    display: inline-block;
    align-items: center;
    margin-top: 2%;
}
.desc{
    height: 75px;
    text-transform: capitalize;
}
.list p{
    font-size: 15px;
    font-family: font;
}
.list span{
    font-size: 13px;
    font-family: font;
}

.line2{
    position: relative;
    margin-left: 4%;
    width: 930px;
    height: 3px;
    background-color: rgb(209, 206, 206);
    
    border-radius: 50px;
}

.treats{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    text-align: center;
    font-family: title-font;
}
.left-side-menu{
    width: 300px;
}
.right-side-menu{
    width: 300px;
}
.catchers{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    text-align: center;
    font-family: title-font;
}
.gallery-title h1{
        text-align: center;
        font-family: font;
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bolder;
}

.gallery{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-left: 3%;
}
.gallery img{
    padding: 5px;
}

.location{
    margin-left: 5%;
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    text-align: center;
    font-family: title-font;
}
.address p:nth-child(1){
    font-family: add-font;
    font-size: 18px;
    margin-top: 0%;
}
.map{
    border: 1px solid black;
}
.map iframe{
    height: 200px;
   
}

.contact-title h1{
    width: 100%;
    text-align: center;
    font-family: font;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;

}

.contact{
    margin-left: 5%;
    width: 45%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    text-align: center;
    font-family: title-font;
    border: 3px solid black;
    border-radius: 5px;
}
.contact h3{
    font-family: add-font;
    text-transform: capitalize;
    font-size: 22px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    outline: none;
    border-bottom: 0.5px solid black;
    font-family: font;
    text-transform: capitalize;
  }
input::placeholder{
    text-transform: capitalize;
}
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
        border: none;
    outline: none;
    border-bottom: 0.5px solid black;
    font-family: font;
    text-transform: lowercase;
    
  }
  textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
        border: none;
    outline: none;
    border-bottom: 0.5px solid black;
    font-family: font;
    text-transform: capitalize;
    height: 50px;
  }
  /* Style the submit button */
  input[type=submit] {
    width: 100%;
    background-color: #555a5a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: font;
    text-transform: capitalize;
  }
  
  footer p{
    font-family: font;
  }


  @media only screen and (max-width: 600px) {
   
 header h2 {
    font-family: myFirstFont;
    text-align: center;
    font-size: 20px;
  }
  .line{
    position: relative;
    margin-left: -9%;
    width: 637px;
    height: 3px;
    background-color: rgb(209, 206, 206);
    
    border-radius: 50px;

  }
  .line2{
    position: relative;
    margin-left: 4%;
    width: 930px;
    height: 3px;
    background-color: rgb(209, 206, 206);
    
    border-radius: 50px;
  }
  .list{
    width: 180px;
    text-align: center;
    padding: 0%;
    display: inline-block;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 7%;
  }
  .waffle{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    margin-left: 3%;
  }
    
.menu{
    float:none;
    display: grid;
    max-width: 200%;
    height: auto;
    overflow: hidden;
    margin-left: 2px;
    margin-top: 2%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
}
.title{
    text-align: center;
    font-family: font;
    text-transform: uppercase;
    font-size: 17px;
}

.treats{
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
    text-align: center;
    font-family: title-font;
    width: 200px;
    text-align: center;
    padding: 0%;
    display: inline-block;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
    .catchers{
        width: 100%;
        margin-top: 2%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2%;
        text-align: center;
        font-family: title-font;
        width: 200px;
    text-align: center;
    padding: 0%;
    display: inline-block;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    }

    .contact{
        margin-left: 12%;
        width: 45%;
        margin-top: 2%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2%;
        text-align: center;
        font-family: title-font;
        border: 3px solid black;
        border-radius: 5px;
    }
}


